<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>ccbResources/shipz/ships.psd</key>
		<string>ccbResources/shipz/ships.png</string>
		<key>ccbResources/shipz/water_ripple.psd</key>
		<string>ccbResources/shipz/water_ripple.png</string>
		<key>ccbResources/shipz/water_ripple_medium.psd</key>
		<string>ccbResources/shipz/water_ripple_medium.png</string>
		<key>ccbResources/shipz/water_ripple_small.psd</key>
		<string>ccbResources/shipz/water_ripple_small.png</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
